/* .container {
    display: flex;
    background: rgb(0, 100, 0);
}

.logo1 {
    padding: 10px;
    justify-content: flex-start;
    margin-left: 20px;
}

.logo h3 {
    color: #e74c3c;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 1.3;

}

.logo p {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #34495e;
    font-weight: 600;
}


.menu-bar {

    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
    justify-content: end;
}

.menu-bar ul li {
    width: 130px;
    margin: 10px;
    padding: 15px;
}

.menu-bar ul li {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;

}

.a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
    z-index: 2;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

form {
    display: inline-block;

}

.form_div {
    padding-top: 27px !important;
    margin-left: 20px;
    justify-content: end;
}

.pseudo-search {
    display: inline;
    border: 2px solid #ccc;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.5 ease-in-out;
}

.pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 200px;
}


input:focus {
    outline: none;
}

button,
i {
    border: none;
    background: none;
    cursor: pointer;
}

select {
    border: none;
}


.button-login {
    padding-top: 10px;
    margin-left: 100px;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
} */

.search-container{
  width: 300px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #D0CFCE;
  outline: none;
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}



.page-new {
  width: 100%;
  background: linear-gradient(112.68deg,
      #00b4ee -13.62%,
      #0094f1 25.66%,
      #0064fa 57.48%,
      #004cbd 81.92%,
      #0045ac 100.82%);
  height: 80px;
}

.menu-new {
  max-width: 100%;
  background: rgba(0, 69, 172, 1);
}

.container-new {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.header {
  height: 80px;
  overflow: hidden;
  display: flex;
  max-width: 1440px;
  align-items: center;
  width: 78.888888888%;
  margin: auto;
  justify-content: space-between;
}

.header-list-item {
  display: flex !important;
}

.img-container {
  padding-right: 24px;
}

.item-last {
  height: 32px;
  width: 32px;
  border-radius: 24px;
}

.img-container-last {
  padding-right: 0px;
}

.img-container {
  display: flex !important;
}

.menu-main-new {
  /* width: 1440px; */
  padding-bottom: 16px;
  padding-top: 16px;
  max-height: 88px;
  margin: auto;
}

.menu-main-wrap-new {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 78.888888888%;
  margin: auto;
}

.nav-link {
  font-family: SVN-Gilroy;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(204, 204, 204, 1) !important;
  padding-right: 40px !important;
}

.dropdown-menu.show {
  background-color: #0094f1 !important;
}


.dropdown-item:hover {
  background-color: #0045ac !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.item-new-last {
  font-family: SVN-Gilroy;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(204, 204, 204, 1) !important;
}

.btn-container {
  padding-left: 31% !important;
}

@media only screen and (max-width: 1024px) {
  .last {
    background: orange !important;
  }

  .contain-footer {
    display: inline-block !important;
    padding-left: 200px !important;
    padding-bottom: 82px;
    padding-top: 104px;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  .btn-container {
    padding-left: 0px !important;
  }

  .header {
    display: inline-block;
  }

  .header-list-item {
    padding-top: 20px;
  }

  .last {
    background: blue !important;
  }
}

@media only screen and (max-width: 640px) {
  .form-footer form input {
    width: 240px !important;
  }

  .form-footer form button {
    width: 100px !important;
  }

  .btn-container {
    padding-left: 0px !important;
  }

  .header {
    display: inline-block;
  }

  .header-list-item {
    padding-top: 20px;
    padding-left: 115px;
  }

  .logo {
    padding-left: 115px;
  }

  .contain-footer {
    display: inline-block !important;
    padding-left: 70px !important;
    padding-bottom: 82px;
    padding-top: 104px;
    margin: auto;
  }

  .form-footer form {
    width: 280px !important;
  }
}

.btn-ut {
  height: 41px !important;
  width: 130px !important;
  border-radius: 16px !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  letter-spacing: 0em !important;
  background-color: rgba(247, 148, 29, 1);
  outline: none !important;
  border: none !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 21px !important;
  letter-spacing: 0em;
  color: rgba(0, 62, 100, 1);
  text-decoration: none;
  padding: 10px 20px;
}

.page-footer {
  width: 100%;
  background: rgba(254, 251, 247, 1);
}

.contain-footer {
  max-width: 1440px;
  display: flex;
  padding-left: 104px;
  padding-bottom: 82px;
  padding-top: 104px;
  margin: auto;
}

.img-footer h5 {
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 62, 100, 1);
  padding-top: 35px;
}

.img-footer p {
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(76, 149, 193, 1);
}

.img-footer {
  padding-right: 224px;
}

.form-footer form {
  height: 232px;
  width: 400px;
  border-radius: 24px;
  padding: 24px;
  background: rgba(0, 69, 172, 1);
}

.form-footer form h6 {
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(239, 245, 250, 1);
}

.form-footer form input {
  height: 56px;
  width: 352px;
  border-radius: 16px;
  outline: none;
  border: none;
  text-indent: 15px;
}

.form-footer form button {
  height: 56px;
  width: 352px;
  border-radius: 16px;
  padding: 16px, 24px, 16px, 24px;
  background: rgba(247, 148, 29, 1);
  color: #eff5fa;
  outline: none;
  border: none;
  margin-top: 32px;
}

.last {
  width: 100%;
  height: 112px;
  background: linear-gradient(112.68deg,
      #00b4ee -13.62%,
      #0094f1 25.66%,
      #0064fa 57.48%,
      #004cbd 81.92%,
      #0045ac 100.82%);
}

.item-new:active {
  color: red !important;
}